# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Editor
*~
\#*\#
*.swp

# IntelliJ
.idea
*.iml
*.ipr
*.iws
.idea_modules
atlassian-ide-plugin.xml

# Eclipse
.project
.classpath
.settings

# Build
out
build
bin

# Maven
target

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar

# Log
*.log
logs

# Documents
docs
