package {{ env.java_package_entity }};

import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.datatype.joda.ser.DateTimeSerializer;
import lombok.*;
import org.hibernate.annotations.Generated;
import org.hibernate.annotations.GenerationTime;
import org.joda.time.DateTime;

import javax.persistence.*;
import javax.validation.constraints.*;

@Builder
@NoArgsConstructor
@AllArgsConstructor
@Data
@Entity
@Table(name = "{{ table.name }}")
public class {{ table.class_name }} {
    {% for column in table.columns %}
    {% if column.name == "id" %}
    @Id
    {% endif %}
    @Column(name = "{{ column.name }}")
    {% if column.auto_increment != "" %}
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    {% endif %}
    {% if column.name == "created_at" %}
    @Generated(value = GenerationTime.INSERT)
    {% endif %}
    {% if column.name == "updated_at" %}
    @Generated(value = GenerationTime.ALWAYS)
    {% endif %}
    {% if column.null == "NOT NULL" and column.name != "id" and column.name != "created_at" and column.name != "updated_at" %}
    @NotNull
    {% endif %}
    {% if column.field_type == "DateTime" %}
    @JsonSerialize(using = DateTimeSerializer.class)
    {% endif %}
    {% if column.field_size %}
    @Size(max = {{ column.field_size }})
    {% endif %}
    private {{ column.field_type }} {{ column.field_name }};

    {% endfor %}
}

