package {{ env.java_package_entity_dao_base }};

import {{ env.java_package_entity }}.{{ table.class_name }};
import io.dropwizard.hibernate.AbstractDAO;
import org.hibernate.SessionFactory;

import java.util.List;

public abstract class {{ table.class_name }}BaseDao extends AbstractDAO<{{ table.class_name }}> {
    public {{ table.class_name }}BaseDao(SessionFactory factory) {
        super(factory);
    }

    @SuppressWarnings("unchecked")
    public List<{{ table.class_name }}> findAll() {
        return criteria().list();
    }
}

